#morse__table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    .letter {
        display: flex;
        align-items: center;
        background: #281e3a;
        padding: 16px;
        border-radius: 6px;
        span {
            font-size: 20px;
            text-transform: uppercase;
            margin-right: 16px;
            border-right: 1px solid #09060c;
            padding-right: 16px;
        }
        i {
            font-size: 24px;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 480px) {
    #morse__table {
        grid-template-columns: repeat(2, 1fr);
    }
}