@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Share Tech Mono", monospace;
}

body {
    background: #191324;
    color: #fff;
    font-family: "Share Tech Mono", monospace;
}