#root {
    margin: 24px;
    display: flex;
    width: 524px;
    margin: auto;
    flex-direction: column;
    nav {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            font-weight: 100;
        }
    }
}

[data-reach-tab-list] {
    height: 40px;
    margin-bottom: 24px;
    border-bottom: 1px solid #3a2c53;
}

[data-reach-tab] {
    height: inherit;
    width: auto;
    padding: 0 12px;
    font-size: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    background: transparent;
}

[data-selected] {
    border-bottom: 2px solid #9962ff;
}

@media screen and (max-width: 568px) {
    #root {
        width: calc(100vw - 40px);
    }
}